h1 {
    	font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
}

p {
    	font-family: Arial, Helvetica, sans-serif;
}

form{
	font-family: Arial, Helvetica, sans-serif;
}

a{
font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    background-color: #73AD21;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: green;
}

div {
  float: left;
  width: 225px;
  border: 3px solid #73AD21;
  padding: 10px;
}

body {
    background-image: url("http://wallpoper.com/images/00/30/98/09/safe-easiest_00309809.jpg);
}
