h1 {
    	font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
}

p {
    	font-family: Arial, Helvetica, sans-serif;
}

a {
    	font-family: Arial, Helvetica, sans-serif;
}

form{
	font-family: Arial, Helvetica, sans-serif;
}


.horizontalAndVerticalCentered{
  width: 200px;
  height: 250px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -100px;
}

#pwDiv{
  background:rgba(255,255,255, 0.8);;
  border: 3px solid DeepSkyBlue;
  padding: 10px;
}

body {
    background-image: url("http://wallpoper.com/images/00/30/98/09/safe-easiest_00309809.jpg");
}

.button {
    background-color: #4CAF50;
    border: border: 1px solid blue;;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
}

.buttonBlue {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
}

.buttonBlue:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
