body {
    background-color: white;
}

a {
    	font-family: Arial, Helvetica, sans-serif;
}

h3 {
    	font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-align: center;
}

p {
    	font-family: Arial, Helvetica, sans-serif;
}

form{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.wrapperHome{
  width: 60%;
  height: 60%;
  
  position: absolute;
  top: 25%;
  left: 20%;
}

.wrapperLogin{
  width: 15%;
  height: 45%;
  
  position: absolute;
  top: 40%;
  left: 42.5%;
}

.wrapperRegister{
  width: 20%;
  height: 70%;
  
  position: absolute;
  top: 30%;
  left: 40%;
}

.boxRegister{
	-webkit-box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	-moz-box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	
	width: 100%;
	height: 70%;
}

.boxLogin{
	-webkit-box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	-moz-box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	
	width: 100%;
	height: 50%;
}

.buttonBox{
	width: 20%;
	height: 13%;
	
	margin-top: 10%;
	margin-left: 30%;
}

.tableDiv{
  width: 100%;
  height: 80%;
  background-color: gray;
  
  position: absolute;
}

.AddDiv{
  width: 100%;	
  height: 10%;
  float: initial;
  
  top: 90%;
  position: absolute;
}

.placeHolder{
  width: 100%;
  height: 10%;
  
}

.miniDiv{
  width: 33%;
  height: 34px;
  float: left;
}

.buttonDiv{
  width: 10%;
  height: 8%;
  position: absolute;
  float: initial;
  text-align: center;
  
  top: 100%;
  left: 45%;
}

.inputDiv{
  width: 100%;
  height: 15%;
}

.textDiv{
  width: 60%;
  height: 40%;
  position: absolute;
  text-align: center;
  
  top: 30%;
  left: 20%;
}

.banner{
  width: 80%;
  height: 100px;
  position: absolute;

  top: 10%;
  left: 10%;

}

.horizontalAndVerticalCenteredBig{
  width: 200px;
  height: 300px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -100px;
}

.horizontalAndVerticalCentered{
  width: 200px;
  height: 250px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -100px;
}

#pwDiv{
  background-color: #333;
  border: 3px solid #008CBA;
  padding: 10px;
}

.logInput{
width: 100%;
padding:8px;
display:block;
border:none;
border-bottom:1px solid #808080;
}

.logInput2{
width: 94%;
padding:8px;
display:block;
border:none;
border-bottom:1px solid #808080;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #008CBA;
}

#loginTable{
	width: 80%;
	height:30%;
}

.buttonHome {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    padding: 10px 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    margin: -11px -11px;
    float: left;
}

.buttonHome:hover {
    text-align: center;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.buttonLogin {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 37%;
    height: 100%;
    float: left;
}

.buttonLogin:hover {
    text-align: center;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button_example{
border:0px solid #004d66; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 10px 50px 10px 50px; text-decoration:none; display:inline-block;text-shadow: 2px 2px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #00779E; background-image: -webkit-gradient(linear, left top, left bottom, from(#00779E), to(#008CBA));
 background-image: -webkit-linear-gradient(top, #00779E, #008CBA);
 background-image: -moz-linear-gradient(top, #00779E, #008CBA);
 background-image: -ms-linear-gradient(top, #00779E, #008CBA);
 background-image: -o-linear-gradient(top, #00779E, #008CBA);
 background-image: linear-gradient(to bottom, #00779E, #008CBA);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00779E, endColorstr=#008CBA);
}

.button_example:hover{
 border:0px solid #002a38;
 background-color: #0084B0; background-image: -webkit-gradient(linear, left top, left bottom, from(#0084B0), to(#00759C));
 background-image: -webkit-linear-gradient(top, #0084B0, #00759C);
 background-image: -moz-linear-gradient(top, #0084B0, #00759C);
 background-image: -ms-linear-gradient(top, #0084B0, #00759C);
 background-image: -o-linear-gradient(top, #0084B0, #00759C);
 background-image: linear-gradient(to bottom, #0084B0, #00759C);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0084B0, endColorstr=#00759C);
}

