body {
    background-color: white;
}

a {
    	font-family: Arial, Helvetica, sans-serif;
}

h3 {
    	font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-align: center;
}

p {
    	font-family: Arial, Helvetica, sans-serif;
}

form{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.wrapperHome{
  width: 60%;
  height: 60%;
  
  position: absolute;
  top: 25%;
  left: 20%;
}

.wrapperLogin{
  width: 15%;
  height: 60%;
  
  position: absolute;
  top: 42.5%;
  left: 35%;
}

.wrapperRegister{
  width: 60%;
  height: 60%;
  
  position: absolute;
  top: 25%;
  left: 20%;
}

.boxLogin{
	-webkit-box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	-moz-box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	box-shadow: -1px 11px 24px -6px rgba(0,0,0,0.32);
	
	width: 100%;
	height: 80%;
	position: absolute;
}

.tableDiv{
  width: 100%;
  height: 80%;
  background-color: gray;
  
  position: absolute;
}

.AddDiv{
  width: 100%;	
  height: 10%;
  float: initial;
  
  top: 90%;
  position: absolute;
}

.miniDiv{
  width: 33%;
  height: 34px;
  float: left;
}

.buttonDiv{
  width: 10%;
  height: 8%;
  position: absolute;
  float: initial;
  text-align: center;
  
  top: 100%;
  left: 45%;
}

.textDiv{
  width: 60%;
  height: 40%;
  position: absolute;
  text-align: center;
  
  top: 30%;
  left: 20%;
}

.banner{
  width: 80%;
  height: 100px;
  position: absolute;

  top: 10%;
  left: 10%;

}

.horizontalAndVerticalCenteredBig{
  width: 200px;
  height: 300px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -100px;
}

.horizontalAndVerticalCentered{
  width: 200px;
  height: 250px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -100px;
}

#pwDiv{
  background-color: #333;
  border: 3px solid #008CBA;
  padding: 10px;
}

#logInput{
width: 100%;
padding:8px;
display:block;
border:none;
border-bottom:1px solid #808080;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #008CBA;
}

#loginTable{
	width: 80%;
	height:30%;
}


.buttonBlueLeft {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    width: 10%;
}

.buttonHome {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    padding: 10px 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    margin: -11px -11px;
}

.buttonHome:hover {
    text-align: center;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.buttonBlueRight {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    width: 10%;
}

.buttonBlueRight:hover {
    text-align: center;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.buttonBlueLeft:hover {
    text-align: center;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
